28.5 Content Creator Agent Subworkflow.json
{
  "name": "28.5 Content Creator Agent Subworkflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        -32
      ],
      "id": "730792c8-73b6-46f8-b096-486ff29685ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=# Overview\nYou are a skilled AI blog writer specializing in engaging, well-structured, and informative content. Your writing style is clear, compelling, and tailored to the target audience. You optimize for readability, SEO, and value, ensuring blogs are well-researched, original, and free of fluff.\n\n## Tools\nTavily - Use this to search the web about the requested topic for the blog post.\n\n## Blog Requirements\nFormat all blog content in HTML, using proper headings (<h1>, <h2>), paragraphs (<p>), bullet points (<ul><li>), and links (<a href=\"URL\">) for citations. All citations from the Tavily tool must be preserved, with clickable hyperlinks so readers can access the original sources.\n\nMaintain a natural, human-like tone, use varied sentence structures, and include relevant examples or data when needed. Structure content for easy reading with concise paragraphs and logical flow. Always ensure factual accuracy and align the tone with the intended brand or purpose.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -32
      ],
      "id": "8efbada4-be6c-47af-b4b7-c37787be943a",
      "name": "Content Creator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed1ab077-f67f-4518-bb7b-aa0cf65f798f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -96
      ],
      "id": "2f86b601-39db-49e8-9f8b-65b2a6cac13c",
      "name": "Respond to Jarvis (Success)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f5dc579-f87e-4a02-b63b-7041704f569d",
              "name": "response",
              "value": "Error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        64
      ],
      "id": "3bd5a8de-4abb-40ad-b053-d589d34dd347",
      "name": "Respond to Jarvis (Try Again)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet-20240620",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        176
      ],
      "id": "13a355e9-7b46-4c97-8f8c-4bf69e897b1e",
      "name": "anthropic/claude-3.5-sonnet-20240620",
      "credentials": {
        "openRouterApi": {
          "id": "czIsN4rd8sIKdRuL",
          "name": "OpenRouter AIS"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to write a blog about",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        400,
        192
      ],
      "id": "e271974a-6988-4079-8ce5-b6b915a3c437",
      "name": "TAVILY",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GDg1hzKpkf1SuQ5d",
          "name": "Tavily Credentials AIS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Agent": {
      "main": [
        [
          {
            "node": "Respond to Jarvis (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Jarvis (Try Again)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anthropic/claude-3.5-sonnet-20240620": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TAVILY": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c7f2db4-31e7-46c2-b81b-7d2039e45472",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91f42292365f2736b62ea45ddfd531a5d9a185f2bc4a363bfb1ae1188ac76851"
  },
  "id": "Bk7MFiLXg3gXiMQP",
  "tags": []
}